@page "/shopping-cart"
@attribute [Authorize]
@inject Basket.BasketClient BasketClient
@inject IAccessTokenProvider AuthenticationService
@using Google.Protobuf.WellKnownTypes
@inject BasketState BasketState
@inject IJSRuntime JS
@code {
    private IList<BasketItemResponse>? basketItems;

    protected override async Task OnInitializedAsync()
    {
        var tokenResult = await AuthenticationService.RequestAccessToken();
        if (tokenResult.TryGetToken(out var token))
        {
            var headers = new Metadata();
            headers.Add("Authorization", $"Bearer {token.Value}");
            basketItems = (await BasketClient.GetBasketItemsAsync(new Empty(), headers)).BasketItems;
        }

    }
    private async Task Delete(BasketItemResponse basketItem)
    {
        if (await JS.Confirm($"Remove {basketItem.Name} product from the basket?"))
        {
            basketItems.Remove(basketItem);
        }

    }
}
@if (basketItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <style>
        body {
            background-color: #f5f5f5;
        }

        .Product-img img {
            width: 100%;
        }

        .main-section {
            font-family: 'Roboto Condensed', sans-serif;
            margin-top: 100px;
        }
    </style>
    <div class="container main-section">
        <div class="row">
            <div class="col-lg-12 pl-3 pt-3">
                <table class="table table-hover border bg-white">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th style="width: 10%;">Quantity</th>
                            <th>Subtotal</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var basketItem in basketItems)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-2 Product-img">
                                            <img src="https://picsum.photos/277/180" alt="@basketItem.Name" class="img-responsive" />
                                        </div>
                                        <div class="col-lg-10">
                                            <h4 class="nomargin">@basketItem.Name</h4>
                                            <p>
                                                @basketItem.Description
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>@basketItem.Price</td>
                                <td data-th="Quantity">
                                    <input type="number" class="form-control text-center" value="@basketItem.Quantity" @onchange="@((ChangeEventArgs e) => basketItem.Quantity =
                                                                                                                                        int.Parse(e.Value.ToString()))">
                                </td>
                                <td>@(basketItem.Price * basketItem.Quantity )</td>
                                <td class="actions" data-th="" style="width: 10%;">
                                    <button class="btn btn-info btn-sm"><i class="fas fa-sync"></i></button>
                                    <button class="btn btn-danger btn-sm" @onclick="(() => Delete(basketItem))"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a href="/" class="btn btn-warning text-white"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center" style="width: 10%;"><strong>Total : 47,000</strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}